*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #eee;
    font-family: 'lato';
    font-size: 16px;
}
.contenedor{
    width: 100%;
    max-width: 1000px;
    overflow: hidden;
    margin: auto;
    display: flex;
}
header{
    background-image: url(../img/terminal_portada.jpg);
    
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: cover;
}
header .menu{
    margin: 30px 0;
    display: flex;
     justify-content: flex-end; 
     
}
header .menu a{
    font-size: 18px;
    font-family: 'lato';
    font-weight: 300;
    display: inline-block;
    padding: 10px 0;
    margin: 0 15px;
    color: black;
    text-decoration: none;
}
header .menu a:hover{
    text-decoration: underline;
    color: crimson;
}
header .contenido-header{
    margin: 120px 0;
    display: flex;
    flex-direction: column;
    /* el flex-wrap: wrap es para manipular  ; no me acuerdo XD */
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.titulo-header{
    font-size: 100px;
    text-align: center;
    color: #eee;
}
.linea-header{
    width: 700px;
    margin: auto;
    height: 2px;
    background-color: #15a4fa;
    margin-bottom: 30px;
}
.texto-header{
    color: rgb(20, 19, 19);;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}
.action-header{
    display: inline-block;
    margin: auto;
    color: #eee;
    text-decoration: none;
    border: 1px solid #15a4fa;
    padding: 10px 20px;
    border-radius: 5px;
}
.action-header:hover{
    background-color: #15a4fa;
    color: white;

}
main{
    margin: 60px 0px;

}
.contenido-caja{
     display: flex; 
    justify-content: space-between;
    flex-wrap: wrap;
}
.tarjeta{
    width: 30%;
    text-align: center;

}
.titulo-tarjeta{
    padding: 10px 0px   ;
}
.contacto{
    height: 500px;
    background-image: url(../img/0.jpg);
    background-position: center;
    padding: 60px 0px;
    background-repeat: no-repeat;
    background-size: cover;
}
.footer-textos{
    text-align: center;
    color: #eee;
    font-size: 25px;
}
form{
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 70%;
}
input[type=text], input[type=email], textarea{
    width: 100%;
    margin: 5px 0px;
    padding: 15px 20px;
    background: none;
    border: none;
    border-radius: 6px;
    color: rgb(204, 204, 204);
    border: 4px solid rgba(204, 204, 204, 0.4);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;
}
textarea{
    height: 150px;
    max-height: 150px;
    min-height: 150px;
    max-width: 100%;
    min-width: 100%;

}
.derecha{
    display: flex;
    justify-content: center;
}

input[type=submit] {
    display: block;
    width: 100px;
    margin: 10px 0px;
    padding: 8px 15px;
    background: none;
    border: none;
    border: 2px solid #15a4fa;
    border-radius: 5px;
    color: #eee;
    cursor: pointer;
}
input[type=submit]:hover{
    background-color: #15a4fa;
    color: #eee;
    

}







ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
}

li {
    float: right;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

li:hover{
    background-color: rgba(0, 0, 0, 0.3);
}

.activo {
    background-color: rgb(39, 123, 233);
}






