@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
    text-decoration: none;
}

body{
    background: linear-gradient(90deg, #30e3ca, #11999e);
    padding: 20px;
}

.container-father{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
}

.container-form{
    width: 80%;
    padding: 40px;
    background: #f7f7f7 ;
}
.logo{
    width: 150px;
    display: block;
    margin: auto;
}

.title{
    text-align: center;
    margin-top: 20px;
    font-weight: 300;
    color: #7a7a7a;
}
label{
    display: block;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 300px;
    color: #7a7a7a;
}
input[type="text"],
input[type="password"]{
    width: 100%;
    height: 30px;
    background: rgba(0,0,0,0);
    border: 0px;
    outline: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    color: black;
    font-size: 16px;

}

input[type="submit"]{
    width: 100%;
    height: 50px;
    margin-top: 60px;
    color: white;
    border: 0px;
    background: linear-gradient(90deg, #30e3ca, #11999e);
    font-weight: 300;
    cursor: pointer;
    font-size: 18px;
}

input[type="submit"]:hover{
    background: linear-gradient(90deg,  #11999e, #30e3ca);
}

.text-footer{
    display: block;
    margin-top: 100px;
    text-align: center;
    color: #7a7a7a;
    font-weight: 300;
}

.text-footer a{
    color: #029EE1;
    font-weight: 500;
}

.container-img{
    width: 100%;
    background-image: url(../img/terminal.JPG);
    background-position: center;
    background-size: cover;
}

/*texto de error*/

.msg-error{
    color: red;
    display: block;
    margin-top: 10px;
}

/*responsive*/

@media screen and (max-width: 800px){
    .container-img{
        display: none;
    }
    .container-form{
        margin: auto;
        width: 100%;
        background: white;
    }
}